ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  background-color: #008080;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  font-size: 1rem;

  @media (max-width: 768px){
    font-size: 0.8rem;
    padding: 3px;
  }
}
