<div class="container">
  <div class="container-header">
    <h2 class="container-title">Medals per Country</h2>
  </div>

  <app-loader [isLoading]="isLoading"></app-loader>

  @if (totalCountries ===0) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  } @else {
    <div class="container-info">
      <div class="info-box">
        <span class="info-label">Number of JOs</span>
        <span class="info-value">{{ totalJOs }}</span>
      </div>
      <div class="info-box">
        <span class="info-label">Number of countries</span>
        <span class="info-value">{{ totalCountries }}</span>
      </div>
    </div>

    @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
    }

    <div class="chart-container">
      <app-medals-pie-chart/>
    </div>
  }
</div>
